
.container{
    background-color: black;
    width: 200px;
    display:grid;
    margin:20%;
    margin-left:40% ;
    
    
}
.calculator_keys{
    background-color: rgb(24, 23, 23);
   
}
.display1{
    padding-right: 45px;
    background-color:rgb(24, 23, 23);
    color: white;
    
}
.btn{
    background-color: rgb(65, 67, 68);
    color:white;
    width:50px;
    height: 40px;
    border-radius: 40%;
}
.btn:hover{
    background-color: beige;
    color: black;
    border-color: black;
    font-size:20px;
    cursor: pointer;
}
